{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<main class="container-fluid">
		<section class="container">
			<h1 class="text-center mb-4 fw-semibold fs-2">Chercher une voiture</h1>

			{% include "commun/search.html.twig" %}

		</section>
	</main>
{% endblock %}
