{% extends 'base.html.twig' %}

{% block title %}Modifier Vehicule{% endblock %}

{% block body %}
<main class="container-fluid">
    <article class="container">
        <h1 class="text-center mb-4 fw-semibold fs-2">Modifier Vehicule</h1>
        {{ include('vehicule/_form.html.twig', {'button_label': 'Update'}) }}
        <a href="{{ path('vehicule_index') }}" class="btn btn-outline-primary btn-sm float-end mx-3">Retour</a>
        {{ include('vehicule/_delete_form.html.twig') }}
    </article>
</main>
{% endblock %}
